  <% restrict_flag = true %>
  <% User.current.groups.each { |group| restrict_flag = false if group.name.upcase == "HIDE_MEMBERS_PANEL" } %>
  <% if restrict_flag %>
  <div class="members box">
    <h3><%=l(:label_member_plural)%></h3>
    <p><% @users_by_role.keys.sort.each do |role| %>
    <%=h role %>: <%= @users_by_role[role].sort.collect{|u| link_to_user u}.join(", ").html_safe %><br />
    <% end %></p>
  </div>
  <% end %>
