

<style type="text/css">  
table.sample {
   border-collapse: collapse;
}
table.sample td {
   border-width: 2px 0px;
   border-color: black;
   border-style: solid;
   padding: 0.3em;
}
</style> 

<% collection = @billing.get_last_collection %>

<div id="invoice" style="width: 880px;">
  <table border="0" style="width: 880px;">
    <tr>
      <td align="left" valign="top">
        <div id="fusion_logo">
          <%= image_tag "fusionss_logo.png", :plugin => "billing" %>
        <div>
      </td>
      <td align="right" valign="top">
        <div id="invoice_header" align="right">
        <%# IF TK %>
            <% if @data.fusion_project.location == FsgProject::LOCATION_TK %>
          <div><h2>Fusion Systems Japan K.K.</h2></div>
          <div><i>8F, Daiwa Azabudai Building, Azabudai 2-3-3</i></div>
          <div><i>Minato-ku, Tokyo 106-0041</i></div>
          <div><i>+81 3 3505 2880</i></div>
          <div><i>billing@fusionsystems.co.jp</i></div>
          <br/>
        <%# IF LA %>
            <% elsif @data.fusion_project.location == FsgProject::LOCATION_LA %>
          <div><h2>Fusion Systems North America</h2></div>
          <div><i>19106 Normandie Ave. Ste 4</i></div>
          <div><i>Torrance, CA 90502</i></div>
          <div><i>+1 310 602 5140</i></div>
          <div><i>billing@fusionsystems.org</i></div>
          <br/>
        <%# IF OTHERS %>
            <% else %>
          <div><h2></h2></div>
          <div><i></i></div>
          <div><i></i></div>
          <div><i></i></div>
          <div><i></i></div>
          <br/>
            <% end %>
          <table border="0">
            <tr>
              <td align="right">
                Issue date: 
              </td>
              <td align="left">
                <%= collection.issue_date.strftime("%d %b %Y") %>
              </td>
            </tr><tr>
              <td align="right">
                Invoice No: 
              </td>
              <td align="right">
                <%= @data.fusion_project.last_invoice_number %>
              </td>
            </tr>
          </table>
          
        </div>
      </td>
    </tr>
  </table>
  

  <br/>
  <div align="center">
    <h1>Invoice</h1>
    <% if false %>
      <% if collection.provisional_version?(@context.base_date) and @context.base_date.month == Date.today.month %>
        <big><font color="red">(Provisional Version)</font></big>
      <% end %>
    <% end %>
  </div>
  
  <br/>
  <div align="left">
  <h2><%= @data.fusion_project.client_name %></h2>
   <div><i><%= @data.fusion_project.client_address %></i></div><br />
    <table border="0">
      <tr>
        <td align="left" ><big>Job Name</big></td>
        <td align="left" ><big><%= @data.fusion_project.name %></big></td>
      </tr>
      <tr>
        <td align="left" style="width: 220px;"><big>Duration</big></td>
        <td align="left" style="width: 240px;"><big>
          <%= collection.beginning_date.strftime("%d %b %Y") %>
           - 
          <%= collection.end_date.strftime("%d %b %Y") %>
        </big></td>
      </tr>
      <tr>
        <td align="left" ><big>Contractual Hours</big></td>
        <td align="left" ><big><%= @data.fusion_project.contractual_hours.to_i %></big></td>
      </tr>
      
      <% unless @data.fusion_project.tm_simple? or @data.fusion_project.miscellaneous? or @data.fusion_project.maintenance? or @data.fusion_project.fixed? %>
      <tr>
        <td align="left" ><big>Rollover Hours</big></td>
        <td align="left" ><big><%= collection.next_rollover_hours %></h3></td>
      </tr>
      <tr>
        <td align="left" ><big>Contractual Hourly Rate</big></td>
        <td align="left" ><big><%= to_number_with_delimiter(@data.fusion_project.fixed_contractual_hourly_rate, true) %></big></td>
      </tr>
      <% end %>
      
    </table>
  <br/>
  </div>
  <br/>
  <h2>Description</h2>
  <div id="charge_detail" align="center"> 
    <table class="sample">
      <tr>
        <td align="center" style="width: 390px;"><big>Service</big></td>
        <td align="right" style="width: 150px;"><big>Hours</big></td>
        <td align="right" style="width: 150px;"><big>Rate</big></td>
        <td align="right" style="width: 150px;"><big>Line Total</big></td>
      </tr>

      <% collection.charge.each do |title, subtitle, hours, rate, subtotal| %>
        <tr>
          <td align="left"><big><%= title %><br/><%= subtitle %></big></td>
          <td align="right"><big><%= hours %></big></td>
          <td align="right"><big><%= to_number_with_delimiter(rate, true) %></big></td>
          <td align="right"><big><%= to_number_with_delimiter(subtotal) %></big></td>
        </tr>
      <% end %>

    </table>
  </div>
  <div id="charge_total" align="right">
    <% subtotal = collection.charge.total %>
    <%# TAX to calculate when TK %>
    <% if @data.fusion_project.location == FsgProject::LOCATION_TK %>
      <% tax = (subtotal * 0.08).ceil %>
    <% else %>
      <% tax = 0 %>
    <% end %>
    <% total = subtotal + tax %>
    <table border="0">
      <tr>
        <td align="right" style="width: 120px;"><big>Sub Total</big></td>
        <td align="right" style="width: 120px;"><big><%= to_number_with_delimiter(subtotal) %></big></td>
      </tr>
       <%# TAX to display when TK %>
       <% if @data.fusion_project.location == FsgProject::LOCATION_TK %>
      <tr>
        <td align="right"><big>Tax (8%)</big></td>
        <td align="right"><big><%= to_number_with_delimiter(tax) %></big></td>
      </tr>
       <% end %>
      <tr>
        <td align="right"><big>Total</big></td>
        <td align="right"><big><%= to_number_with_delimiter(total) %></big></td>
      </tr>
     </table>
  </div>
  <br/>
  
  <h2>Service Details</h2>
  <div id="transaction" align="center">
    <%= transaction_table collection %>
  </div>
  <br/>
  <hr/>
  <big><i>Thank you for using Fusion Systems Group. We appreciate your business.</i></big>
</div>





    
