

<style type="text/css">  
table.sample {
   border-collapse: collapse;
}
table.sample td {
   border-width: 2px 0px;
   border-color: black;
   border-style: solid;
   padding: 0.3em;
}
</style> 

<% collection = @billing.get_last_collection %>
<% charge_lines = collection.charge_lines %>


<div id="invoice" style="width: 880px;">
  <div id="invoice_header" align="right">
    <h2>Fusion Systems</h2>
    <% if collection.provisional_version?(@context.base_date) %>
      <big><font color="red">Provisional Version</font> / </big>
    <% end %>
    <big>Issue date <%= collection.issue_date.strftime("%d %b %Y") %></big>
  </div>
  
  <br/>
  <div align="center"><h1>Invoice</h1></div>
  <br/>
  <div align="left">
  <h2><%= @data.fusion_project.client_name %></h2>
    <div><i><%= @data.fusion_project.client_address %></i></div><br />
    <table border="0">
      <tr>
        <td align="left" ><big>Job Name</big></td>
        <td align="left" ><big><%= @data.fusion_project.name %></big></td>
      </tr>
      <tr>
        <td align="left" style="width: 220px;"><big>Duration</big></td>
        <td align="left" style="width: 340px;"><big>
          <%= collection.beginning_date.strftime("%d %b %Y") %>
           - 
          <%= collection.end_date.strftime("%d %b %Y") %>
        </big></td>
      </tr>
      
    </table>
  <br/>
  </div>
  <br/>
  <h2>Description</h2>
  <div id="charge_detail" align="center"> 
    <table class="sample">
      <tr>
        <td align="center" style="width: 390px;"><big>Service</big></td>
        <td align="center" style="width: 150px;"><big>Hours</big></td>
        <td align="center" style="width: 150px;"><big>Rate</big></td>
        <td align="center" style="width: 150px;"><big>Line Total</big></td>
      </tr>
      <tr>
        <td align="left"><big>Service Fee</big></td>
        <td align="center"><big>-</big></td>
        <td align="center"><big>-</big></td>
        <td align="right"><big><%= to_number_with_delimiter(@data.fusion_project.additional_service_fees) %></big></td>
      </tr>

    </table>
  </div>
  <div id="charge_total" align="right">
    <% subtotal = @data.fusion_project.additional_service_fees %>
     <% # TAX to calculte when TK %>
     <% if @data.fusion_project.location == FsgProject::LOCATION_TK %>
        <% tax = (subtotal * 0.08).ceil %>
      <% else %>
        <% tax = 0 %>
      <% end %>
    <% total = subtotal + tax %>
    <table border="0">
      <tr>
        <td align="right" style="width: 120px;"><big>Sub Total</big></td>
        <td align="right" style="width: 120px;"><big><%= to_number_with_delimiter(subtotal.ceil.to_i) %></big></td>
      </tr>
       <%# TAX to display when TK %>
        <% if @data.fusion_project.location == FsgProject::LOCATION_TK %>
      <tr>
        <td align="right"><big>Tax (8%)</big></td>
        <td align="right"><big><%= to_number_with_delimiter(tax) %></big></td>
      </tr>
       <% end %>
      <tr>
        <td align="right"><big>Total</big></td>
        <td align="right"><big><%= to_number_with_delimiter(total.ceil.to_i) %></big></td>
      </tr>
     </table>
  </div>
  <br/>
  
  <h2>Service Details</h2>
  <div id="transaction" align="center">
    <%= transaction_table collection %>
  </div>
  <br/>
  <hr/>
  <big><i>Thank you for using Fusion Systems Group. We appreciate your business.</i></big>
</div>




    
