<% collection = @billing.get_this_collection %>
<% project = @data.fusion_project %>

<div id="invoice" style="width: 880px;">

<table border="0">
  <tr>
    <td align="left" style="width: 220px;"><big>Duration</big></td>
    <td align="left" style="width: 240px;"><big>
      <%= collection.beginning_date.strftime("%d %b %Y") %>
       - 
      <%= collection.end_date.strftime("%d %b %Y") %>
    </big></td>
  </tr>
  
  <tr>
    <td align="left" style="width: 220px;"><big>Contractual Hours</big></td>
    <td align="left" style="width: 240px;"><big>
      <%= project.contractual_hours %>
    </big>
    </td>
  </tr>
  
  
  <% unless project.tm_simple? or @data.fusion_project.miscellaneous? or @data.fusion_project.maintenance? %>
  <tr>
    <td align="left" style="width: 220px;"><big>Rollover Hours</big></td>
    <td align="left" style="width: 240px;"><big>
      <%= collection.rollover_hours %>
    </big>
    </td>
  </tr>
  <% end %>
  
  <tr>
    <td align="left" style="width: 220px;"><big>Spent hours</big></td>
    <td align="left" style="width: 240px;"><big>
      <%= collection.billable_total_hours %>
    </big>
    </td>
  </tr>
  
  <% unless project.tm_simple? or @data.fusion_project.miscellaneous? or @data.fusion_project.maintenance? %>
  <tr>
    <td align="left" style="width: 220px;"><big>Remaining Hours</big></td>
    <td align="left" style="width: 240px;"><big>
      <%= collection.remaining_hours %>
    </big>
    </td>
  </tr>
  
  <tr>
    <td align="left" style="width: 220px;"><big>Extra Hours</big></td>
    <td align="left" style="width: 240px;"><big>
      <%= collection.extra_hours %>
    </big>
    </td>
  </tr>
  <% end %>
  
</table>

<br/>

  <div align="left">
    <big>Real-time Activities</big>
  </div>
  <% if collection.has_billable? %>
    <div id="transaction" align="center">
      <%= transaction_table collection %>
    </div>
  <% else %>
    <big>- No Records</big>
  <% end %>
</div>


