
<% if @context.base_date_spacify? and @context.base_date.month != Date.today.month %>
  <table border="0" cellspacing="1" cellpadding="2" bgcolor="#ff00ff">
    <tr>
      <td align="center">
      <font color="#FFFFFF" style="font-size:13px">
        Show as of <%= @context.base_date.strftime("%d %b %Y") %>. 
        <%= link_to("Show the current", "./invoice", :method => :get) %>
      </font>
      </td>
    </tr>
  </table>
  <br/>
<% end %>


<% if @context.output_type == :not_bottom_project %>
  <div id="project_links">
    <%=render :partial =>'invoice/notbottomproject' %>
  </div>
<% elsif @context.output_type == :error_occured %>
  <div id="error">
    <%=render :partial =>'invoice/error' %>
  </div>
<% else %>

  <% if @context.warning.size > 0 %>
    <div style="width: 880px; border-style: solid ; border-width: 1px; border-color: #ff0000">
      <% @context.warning.each do |warning| %>
        <b><font color="#ff0000">[Warning] <%= warning %></font></b><br/>
      <% end %>
    </div>
    <br/>
  <% end %>

  <div id="invoice">
  <% if @data.fusion_project.tm? or @data.fusion_project.tm_simple? or @data.fusion_project.miscellaneous? or @data.fusion_project.maintenance? %>
    <% unless @context.print == true %>
      <h2>This Month/Week Summary</h2>
      <% unless @billing.get_this_collection == nil %>
        <%=render :partial =>'summary' %>
      <% else %>   
        No data found
      <% end %>
      <br/>
      <br/>
      
      <div id="middle" style="width: 880px;">
        <hr/>
        <div align="left">
          <h2>Last Month/Week Invoice</h2>
        </div>
        <% unless @billing.get_last_collection == nil %>
          <div align="right">
            <%= link_to "Print Page", "./invoice?print=true", :target=>["_blank"] %><br/>
          </div>
        <% end %>
      </div>
      <% unless @billing.get_last_collection == nil %>
        <div style="width: 880px; border-style: solid ; border-width: 1px;">
          <%=render :partial =>'invoice' %>
        </div>
      <% else %>     
        No data found
      <% end %>
    <% else %>
      <%=render :partial =>'invoice' %>
    <% end %>


  <% elsif @data.fusion_project.maintenance? %>
    <div id="maintenance">
      <%=render :partial =>'maintenance.html.erb' %>
    </div>
  <% elsif @data.fusion_project.fixed? %>
    <div id="fixed">
      <%=render :partial =>'fixed.html.erb' %>
    </div>
  <% end %>


  </div>
  
<% end %>



