<h3>Real-time</h3>

<ul>
  <li>
    <h4>Summary</h4>
  </li>
  <%= summary_table_fixed(@data.fusion_project, @billing, @context) %>
  <br/><br/>
  
  <% @billing.collection_hash.sort.each do |key, collection| %>
    <li>
      <h4><%= key.strftime("%b %Y") %></h4>
    </li>
    <%= transaction_table collection %>
    <br/><br/>
  <% end %>
</ul>



