<h3>Last Week</h3>
<% today = Date.today %>
<% last_monday_key = today - (today.wday - 1) - 7 %>


  <% collection = @billing.collection_hash[last_monday_key] %>
  <ul>
    <li>
      <h4>Summary</h4>
    </li>
    <%= summary_table(@data.fusion_project, collection, @context) %>
    <li>
      <h4>Billable Transactions</h4>
    </li>
    <% link_csv = "./billing.csv?base_date=" + last_monday_key.strftime("%Y-%m-%d") %>
    <%= link_to("CSV Download", link_csv, :method => :get) %>
    <br/>
    <%= transaction_table collection %>
    <% unless @context.client_restrict %>
      <li>
        <h4>Non-Billable Transactions</h4>
      </li>
      <%= transaction_table collection, false %>
    <% end %>
  </ul>



