<h3>Last Month</h3>
<% last_month_key = Date.today.change(:day => 1) << 1 %>


  <% collection = @billing.collection_hash[last_month_key] %>
  <ul>
    <li>
      <h4>Summary</h4>
    </li>
    <%= summary_table(@data.fusion_project, collection, @context) %>
    <li>
      <h4>Billable Transactions</h4>
    </li>


<% if false %>
    <% link_csv = "./billing.csv?base_date=" + last_month_key.strftime("%Y-%m-%d") %>
<% end %>

    <% link_csv = "./billing.csv?base_date=" + @context.base_date.change(:day => 1).strftime("%Y-%m-%d") %>

    <%= link_to("CSV Download", link_csv, :method => :get) %>

    <%= transaction_table collection %>
    <% unless @context.client_restrict %>
      <li>
        <h4>Non-Billable Transactions</h4>
      </li>
      <%= transaction_table collection, false %>
    <% end %>
  </ul>

<% if false %>
<% if @billing.collection_hash.key? last_month_key and @billing.collection_hash[last_month_key].charge.valid? %>
<% else %>
  No Data Found
<% end %>
<% end %>
