<h3>This Week</h3>
<% this_day = Date.today %>
<% this_monday_key = this_day - (this_day.wday - 1) %>


  <% collection = @billing.collection_hash[this_monday_key] %>
  <ul>
    <li>
      <h4>Summary</h4>
    </li>
    <%= summary_table(@data.fusion_project, collection, @context) %>
    <li>
      <h4>Billable Transactions</h4>
    </li>
    <%= transaction_table collection %>
    <% unless @context.client_restrict %>
      <li>
        <h4>Non-Billable Transactions</h4>
      </li>
      <%= transaction_table collection, false %>
    <% end %>
  </ul>




