<h3>This Month</h3>
<% this_month_key = Date.today.change(:day => 1) %>

  <% collection = @billing.collection_hash[this_month_key] %>
  <ul>
    <li>
      <h4>Summary</h4>
    </li>
      <%= summary_table(@data.fusion_project, collection, @context) %>
    <li>
      <h4>Billable Transactions</h4>
    </li>
    <%= transaction_table collection %>
    <% unless @context.client_restrict %>
      <li>
        <h4>Non-Billable Transactions</h4>
      </li>
      <%= transaction_table collection, false %>
    <% end %>
  </ul>



