<% project = Project.where(name: issue.subject[0...-10]).first %>
<% base_date = Date.new(Date.today.year, Date.today.month, 1) %>
<% if project %>
  <ul>
    <li><%= link_to 'Billing', project_path(project) + '/billing' %></li>
    <li><%= link_to 'Invoice', project_path(project) + '/invoice' %></li>
    <li><%= link_to 'CSV Download', project_path(project) + "/billing.csv?base_date=#{base_date}" %></li>
  </ul>
<% end %>

