<h2>Billing</h2>

<% if @context.base_date_spacify? and @context.base_date.month != Date.today.month %>
  <table border="0" cellspacing="1" cellpadding="2" bgcolor="#ff00ff">
    <tr>
      <td align="center">
      <font color="#FFFFFF" style="font-size:13px">
        Show as of <%= @context.base_date.strftime("%d %b %Y") %>. 
        <%= link_to("Change to the current data", "./billing", :method => :get) %>
      </font>
      </td>
    </tr>
  </table>
  <br/>
<% end %>

<% if @context.output_type == :not_bottom_project %>
  <div id="project_links">
    <%=render :partial =>'notbottomproject' %>
  </div>
<% elsif @context.output_type == :error_occured %>
  <div id="error">
    <%=render :partial =>'error' %>
  </div>
<% else %>

  <% if @context.warning.size > 0 %>
    <div style="width: 880px; border-style: solid ; border-width: 1px; border-color: #ff0000">
      <% @context.warning.each do |warning| %>
        <b><font color="#ff0000">[Warning] <%= warning %></font></b><br/>
      <% end %>
    </div>
    <br/>
  <% end %>

  <% if @data.fusion_project.tm? or @data.fusion_project.tm_simple? or @data.fusion_project.miscellaneous? %>
    <% if @data.fusion_project.location == FsgProject::LOCATION_LA and @data.fusion_project.weekly_invoiced? %>
      <div id="last_week">
        <%=render :partial =>'lastweek' %>
      </div>
      <div id="this_week">
        <%=render :partial =>'thisweek' %>
      </div>
    <% else %>
      <div id="last_month">
        <%=render :partial =>'lastmonth' %>
      </div>
      <div id="this_month">
        <%=render :partial =>'thismonth' %>
      </div>
    <% end %>
  <% elsif @data.fusion_project.maintenance? %>
    <div id="maintenance">
      <%=render :partial =>'maintenance' %>
    </div>
  <% elsif @data.fusion_project.fixed? %>
    <div id="fixed">
      <%=render :partial =>'fixed' %>
    </div>
  <% end %>

<% end %>


</br>
</br>

<% if @context.debug_mode? %>
  <div id="debug">
    <%=render :partial =>'debug' %>
  </div>
<% end %>

