<!DOCTYPE html>
<html>
<head>
  <title>RailsProject</title>
  <%= wicked_pdf_stylesheet_link_tag "application" %>
  <%= wicked_pdf_javascript_include_tag "application" %>
  <%= wicked_pdf_stylesheet_link_tag "feedbacks" %>
  <%= wicked_pdf_stylesheet_link_tag "pdf" %>
</head>
<body>

<%= yield %>

</body>
</html>
